
div class="jumbotron">
revision de validacion
</div>



<div class="row">

    <input type="text" id="palabra"/>



</div>
<input type="button" onclick="myfunction();" value="Revisar" />



<label id="texto"></label>



<script>




    function myfunction() {

        var palabra = $("#palabra").val();
        var comparar = 'Mi primer script con javascript y estructura de datos';
        var original = palabra;
        var array = palabra.split("");

//var reversa = "";
//for (var i = array.length-1; i >= 0; i--) {

// reversa += array[i];
//}



        if (comparar === original) {
            $("#texto").text("ES VALIDA");
        } else {
            $("#texto").text("NO ES VALIDA");
        }
    }